PORT=3000

DB_NAME=e-commerce-filter_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Chuỗi bí mật để tạo token (access và refresh dùng 2 chuỗi khác nhau)
JWT_ACCESS_SECRET=e-commerce-filter-access-secret
JWT_REFRESH_SECRET=e-commerce-filter-refresh-secret

# Thời gian sống của token
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
